cardxchange1
[{"id":"d2d22aea.2d2dd8","type":"http response","z":"aa52f6de.55ad08","name":"","x":1070.5555458068848,"y":109.55555534362793,"wires":[]},{"id":"3117c53c.cee83a","type":"template","z":"aa52f6de.55ad08","name":"testcard5","field":"payload","format":"handlebars","template":"This is the payload: {{payload}} !\n{firstName:\"Michelle\",\nlastname:\"Chang\"\n}","x":522,"y":39,"wires":[["d2d22aea.2d2dd8"]]},{"id":"9be2bdd1.641d4","type":"function","z":"aa52f6de.55ad08","name":"testcard5","func":"var text = {\n    text: msg.payload,\n    text2:  \"YES FOUND BRIAN*********\",\n    text3:  \"RETURN MICHELLE*********\",\n    username: \"Bluemix news\",\n    icon_url: \"https://pbs.twimg.com/profile_images/639708962808573952/XtJEcAbF_400x400.jpg\"\n};\n\n\n\n\n\nif (msg.payload.firstName == \"Brian\" || msg.payload.lastName ==\"Quock\") {\n    msg.payload=\"FOUND Brian Quock\";\n    \n    return [msg];\n}\n    msg.payload=\"DID NOT FIND Brian Quock!!!!!!\";\n    msg.payload = JSON.stringify(text)\nreturn msg;\n\n\t","outputs":1,"noerr":0,"x":389,"y":110,"wires":[["3117c53c.cee83a"]]},{"id":"d49dd9fb.2b6228","type":"http in","z":"aa52f6de.55ad08","name":"testcard5","url":"/testcard5","method":"post","swaggerDoc":"","x":59.5,"y":126,"wires":[["74580306.8ba7fc","95fe59fc.6a01a8","fd40f8fa.02bf08","270229fa.d8fdd6","3440214b.cbbfde","7208114a.8df7f"]]},{"id":"74580306.8ba7fc","type":"debug","z":"aa52f6de.55ad08","name":"debug","active":true,"console":"false","complete":"payload","x":224,"y":48,"wires":[]},{"id":"270229fa.d8fdd6","type":"switch","z":"aa52f6de.55ad08","name":"Command parser","property":"payload.text","rules":[{"t":"regex","v":"^!travel","case":false},{"t":"regex","v":"^!personality","case":false},{"t":"regex","v":"^!sentiment","case":false},{"t":"regex","v":"^!chuck","case":false},{"t":"cont","v":"!yoda"},{"t":"regex","v":"^!coin","case":false},{"t":"else"},{"t":"eq","v":""}],"checkall":"false","outputs":8,"x":178.22222900390625,"y":537.2222290039062,"wires":[[],[],[],[],["1f74ad53.e08b53"],[],["6f90fc76.906f04"],[]]},{"id":"6f90fc76.906f04","type":"cloudant out","z":"aa52f6de.55ad08","service":"testslackbluemix-cloudantNoSQLDB","cloudant":"","name":"Store messages","database":"messages","payonly":true,"operation":"insert","x":395.75,"y":931.75,"wires":[]},{"id":"1f74ad53.e08b53","type":"function","z":"aa52f6de.55ad08","name":"Real payload filter","func":"var msg = msg.payload.text;\nreturn {\n    payload: msg.replace(/^!yoda\\s*/, \"\")\n};","outputs":1,"x":407.5,"y":825,"wires":[["e41373f8.1bec9"]]},{"id":"46fa3a62.b905c4","type":"http request","z":"aa52f6de.55ad08","name":"Yoda speak","method":"use","ret":"txt","url":"","x":853.5,"y":905,"wires":[["45b031a7.ba4fd"]]},{"id":"e41373f8.1bec9","type":"function","z":"aa52f6de.55ad08","name":"Yoda speak HTTP converter","func":"return {\n    url: \"https://yoda.p.mashape.com/yoda?sentence=\" + encodeURIComponent(msg.payload),\n    method: \"GET\",\n    headers: {\n        \"X-Mashape-Key\": \"<REPLACE WITH REAL KEY>\",\n        \"Content-Type\": \"text/plain\",\n        \"Accept\": \"text/plain\"\n    }\n};","outputs":1,"x":631.5,"y":877,"wires":[["46fa3a62.b905c4"]]},{"id":"45b031a7.ba4fd","type":"function","z":"aa52f6de.55ad08","name":"Yoda Slack converter","func":"var text = {\n    text: msg.payload,\n    username: \"Yoda\",\n    icon_url: \"http://www.forumbiodiversity.com/image.php?u=10281&dateline=1353837210\"\n};\nreturn {\n    payload: JSON.stringify(text)\n};","outputs":1,"x":740.6110992431641,"y":397.88890647888184,"wires":[["c816ae42.37e95"]]},{"id":"95fe59fc.6a01a8","type":"switch","z":"aa52f6de.55ad08","name":"commandParser","property":"payload","rules":[{"t":"cont","v":"Brian"}],"checkall":"true","outputs":1,"x":236,"y":127,"wires":[["9be2bdd1.641d4"]]},{"id":"fd40f8fa.02bf08","type":"switch","z":"aa52f6de.55ad08","name":"commandParser","property":"payload","rules":[{"t":"cont","v":"Michelle"}],"checkall":"true","outputs":1,"x":265,"y":197,"wires":[["5776449e.a889bc"]]},{"id":"7ac3f14c.853c1","type":"template","z":"aa52f6de.55ad08","name":"testcard5","field":"payload","format":"handlebars","template":"This is the payload: {{payload}} !\n{firstName:\"Albert\",\nlastname:\"Vo\"\n}","x":585,"y":238,"wires":[["d2d22aea.2d2dd8"]]},{"id":"5776449e.a889bc","type":"function","z":"aa52f6de.55ad08","name":"testcard5","func":"var text = {\n    text: msg.payload,\n    test2:  \"FOUND MICHELLE*********\",\n    test3:  \"RETURN ALBERT*********\",\n    username: \"Bluemix news\",\n    icon_url: \"https://pbs.twimg.com/profile_images/639708962808573952/XtJEcAbF_400x400.jpg\"\n};\n\n\n\n\n\nif (msg.payload.firstName == \"Brian\" || msg.payload.lastName ==\"Quock\") {\n    msg.payload=\"FOUND Brian Quock\";\n    \n    return [msg];\n}\n    msg.payload=\"DID NOT FIND Brian Quock!!!!!!\";\n    msg.payload = JSON.stringify(text)\nreturn msg;\n\n\t","outputs":1,"noerr":0,"x":426,"y":221,"wires":[["7ac3f14c.853c1"]]},{"id":"c816ae42.37e95","type":"template","z":"aa52f6de.55ad08","name":"testcard5","field":"payload","format":"handlebars","template":"This is the payload: {{payload}} !\n{firstName:\"Yoda\",\nlastname:\"Jedi Master\"\n}","x":994.4444236755371,"y":312.2221965789795,"wires":[["d2d22aea.2d2dd8"]]},{"id":"3440214b.cbbfde","type":"switch","z":"aa52f6de.55ad08","name":"commandParser","property":"payload","rules":[{"t":"cont","v":"yoda"}],"checkall":"true","outputs":1,"x":255,"y":266,"wires":[["2a8c3a10.d573c6"]]},{"id":"2a8c3a10.d573c6","type":"function","z":"aa52f6de.55ad08","name":"testcard5","func":"var text = {\n    text: msg.payload,\n    test2:  \"FOUND YODA*********\",\n    test3:  \"RETURN YODA SPEAKS DO NOT TRY*********\",\n    username: \"Bluemix news\",\n    icon_url: \"https://pbs.twimg.com/profile_images/639708962808573952/XtJEcAbF_400x400.jpg\"\n};\n\n\n\n\n\nif (msg.payload.firstName == \"Brian\" || msg.payload.lastName ==\"Quock\") {\n    msg.payload=\"FOUND Brian Quock\";\n    \n    return [msg];\n}\n    msg.payload=\"DID NOT FIND Brian Quock!!!!!!\";\n    msg.payload = JSON.stringify(text)\nreturn msg;\n\n\t","outputs":1,"noerr":0,"x":464,"y":289,"wires":[["9e88e358.61772"]]},{"id":"9e88e358.61772","type":"template","z":"aa52f6de.55ad08","name":"testcard5","field":"payload","format":"handlebars","template":"This is the payload: {{payload}} !\n{firstName:\"Yoda\",\nlastname:\"Jedi Master\"\n}","x":633,"y":294,"wires":[["d2d22aea.2d2dd8"]]},{"id":"7208114a.8df7f","type":"switch","z":"aa52f6de.55ad08","name":"commandParser","property":"payload","rules":[{"t":"cont","v":"exchangeCard"}],"checkall":"true","outputs":1,"x":250,"y":329,"wires":[["478b18f6.b874e8"]]},{"id":"478b18f6.b874e8","type":"function","z":"aa52f6de.55ad08","name":"testcard5","func":"var text = {\n    text: msg.payload,\n    test2:  \"DO CARD EXCHANGE*********\",\n    test3:  \"RETURN NEW CARDS*********\",\n    username: \"Bluemix news\",\n    icon_url: \"https://pbs.twimg.com/profile_images/639708962808573952/XtJEcAbF_400x400.jpg\"\n};\n\n\n\n\n\nif (msg.payload.firstName == \"Brian\" || msg.payload.lastName ==\"Quock\") {\n    msg.payload=\"FOUND Brian Quock\";\n    \n    return [msg];\n}\n    msg.payload=\"DID NOT FIND Brian Quock!!!!!!\";\n    msg.payload = JSON.stringify(text)\nreturn msg;\n\n\t","outputs":1,"noerr":0,"x":433,"y":366,"wires":[["df19a6a7.20e658"]]},{"id":"df19a6a7.20e658","type":"template","z":"aa52f6de.55ad08","name":"testcard5","field":"payload","format":"handlebars","template":"This is the payload: {{payload}} !\n{firstName:\"NEW\",\nlastname:\"CARD\"\n}","x":594,"y":355,"wires":[["d2d22aea.2d2dd8"]]}]
